<h1>Conocé nuestros productos</h1>
<form action="" method="">
  <input type="text" name="title" class ="title" placeholder="title" style="display: block">
  <input type="text" name="description" class ="description" placeholder="description" style="display: block">
  <input type="text" name="price" class ="price" placeholder="price" style="display: block">
  <input type="text" name="code" class ="code" placeholder="code" style="display: block">
  <input type="text" name="stock"  class ="stock" placeholder="stock" style="display: block"> 
  <button id="boton">Crear producto</button>
</form>
<ul>
  <span id="productos"></span>
</ul>